@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lexend:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap');
@import "tailwindcss";

@theme {
    /* Fonts */
    --font-logo: 'Lexend', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-pixel: 'Pixelify Sans', sans-serif;
    /* Background */
    --color-bg-auth: #F9F9FF;
    --color-bg-app: #FFF6F6;
    --color-bg-sidebar: #FFFFFF;
    --color-bg-dashboard-card-secondary: #441E1A;
    --color-bg-dashboard-card-primary: #AC0000;
    /* Text */
    --color-text-title: #1A3A5A;
    --color-text-body: #4A5565;
    --color-text-subtle: #6A7282;

    /* Sidebar */
    --color-accent-text: #DB1A1A;
    --color-accent-bg: #EEF2FF;

    /* Buttons */
    --color-bg-button: #092E5E;
    --color-accent-button: #0B3D7A;
    --color-ghost-button: #8997A5;

    /* Card */
    --color-border-card: #E5E7EB;

    /*icons*/
    --color-icon-purple:#432DD7;
    --color-icon-green:#00C950;
    --color-icon-blue: #155DFC;
    --color-bg-icon-pink:#F05A5A;
    --color-bg-icon-green: #35A7A0;
    --color-bg-icon-yellow:#F28F3B;
    --color-bg-icon-blue:#2E6F95;

    /* Taxonomy Levels*/
    --color-level-remember: #4E79A7;
    --color-level-understand: #F28E2B;
    --color-level-apply: #DC4B4B;
    --color-level-analyze: #59A14F;
    --color-level-evaluate: #B07AA1;

    /* Charts */
    --color-bg-bar-chart: #E0E3E5;

    /* Others */
    --color-vertical-divider: #d9dbe1;
    --color-border-input:#D1D5DC;
    --color-icon-grey:#889DC1;

    /* Restigia Game Theme */
    --color-restigia-text: #ffe9a8;
    --color-restigia-stroke: #3f2815;
    --color-restigia-btn: #6b4526;
    --color-restigia-btn-hover: #54361e;
    --color-restigia-btn-text: #f6ead2;
}

@utility restigia-title {
    font-family: var(--font-pixel), sans-serif;
    color: var(--color-restigia-text);
    -webkit-text-stroke: 2px var(--color-restigia-stroke);
    paint-order: stroke fill;
    text-shadow: 0 3px 0 var(--color-restigia-stroke);
}

body {
    font-family: var(--font-body),sans-serif;
    background-color: var(--color-bg-app);
    color: var(--color-text-body);
    margin: 0;
    padding: 0;
}
