@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lexend:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
    /* Fonts */
    --font-logo: 'Lexend', sans-serif;
    --font-body: 'Inter', sans-serif;
    /* Background */
    --color-bg-auth: #F9F9FF;
    --color-bg-app: #FFF6F6;
    --color-bg-sidebar: #FFFFFF;

    /* Text */
    --color-text-title: #1A3A5A;
    --color-text-body: #4A5565;
    --color-text-subtle: #6A7282;

    /* Sidebar */
    --color-accent-text: #DB1A1A;
    --color-accent-bg: #EEF2FF;

    /* Buttons */
    --color-bg-button: #092E5E;
    --color-accent-button: #0B3D7A;

    /* Card */
    --color-border-card: #E5E7EB;

    /*icons*/
    --color-icon-purple:#432DD7;
}
.counter {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background: darkblue;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    margin-bottom: 24px;
}

